@import "tailwindcss";

@layer components {
  :root {
    --cruz-size: 78px;
    /* serve para a medalha */
    --conta-g-size: 42px;
    --conta-p-size: 28px;
    --terco-cor: #5b2f1f;
    --peca-atual-cor: #c9a227;
    --terco-cor-dark: #a1cbff;
    --peca-atual-cor-dark: #c9a227;
    --cruz-cor: #fff;
    /* serve para a medalha */
    --cruz-cor-dark: #000;
    /* serve para a medalha */
    --bg-color: linear-gradient(to bottom, #8e93ed, #dbddff, #8e93ed);
    --bg-color-dark: linear-gradient(to bottom, #060726, #414237, #060726);
    --bg-control-panel: #fff;
    --bg-control-panel-dark: #000;
    --bg-oracao: #eee;
    --bg-oracao-dark: #222;
    --text-color: #000;
    --text-color-dark: #fff;
  }

  :root {
    --cruz-stroke: #000;
    /* serve para a medalha */
  }

  body {
    background-image: var(--bg-color);
    color: var(--text-color);
  }

  body.dark {
    --cruz-stroke: #fff;
    background-image: var(--bg-color-dark);
    color: var(--text-color-dark);
  }

  .main-container {
    @apply h-[86vh];
  }

  .terco {
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
    padding-top: calc(50vh - var(--cruz-size)/2);
    padding-bottom: calc(50vh - var(--conta-g-size)/2);
  }

  .item {
    @apply transform group-hover:scale-115 duration-300 group-hover:border-4 group-hover:border-amber-300;
    background-color: var(--terco-cor) !important;
  }

  body.dark .item {
    background-color: var(--terco-cor-dark) !important;
  }

  .peca-atual {
    @apply bg-amber-500 border-4 border-white outline-2 outline-black;
    background-color: var(--peca-atual-cor) !important;
  }

  body.dark .peca-atual {
    background-color: var(--peca-atual-cor) !important;
    @apply border-black outline-white;
  }

  .conta {
    @apply w-fit;
  }

  .cruz,
  .medalha {
    @apply h-(--cruz-size) w-(--cruz-size) flex justify-center items-center rounded-sm p-1;
  }

  .cruz svg,
  .medalha svg {
    @apply text-(--cruz-cor) h-full w-full;
  }

  body.dark .cruz svg,
  body.dark .medalha svg {
    @apply text-(--cruz-cor-dark);
  }

  .conta-g {
    @apply rounded-full h-(--conta-g-size) w-(--conta-g-size);
  }

  .conta-p {
    @apply rounded-full h-(--conta-p-size) w-(--conta-p-size);
  }

  .control-panel {
    @apply bg-(--bg-control-panel) text-black h-[8vh] mt-[2vh] z-150;
  }

  body.dark .control-panel {
    @apply bg-(--bg-control-panel-dark) text-white;
  }

  .oracao {
    @apply m-16 bg-(--bg-oracao);
  }

  body.dark .oracao {
    @apply bg-(--bg-oracao-dark);
  }

  #topbar {
    @apply grid grid-cols-[1fr_auto_1fr] items-center w-full;
  }

  #misterio-label {
    @apply justify-self-start flex flex-col items-center justify-center text-center gap-1;
  }

  #misterio-titulo-label {
    @apply justify-self-center text-center max-w-[90%] wrap-break-word;
  }

  #conta-label {
    @apply justify-self-end flex flex-col items-center justify-center text-center gap-1;
  }

  #oracoes-container {
    @apply relative flex-1 flex flex-col items-center overflow-y-scroll;
  }

  .oracao-block {
    @apply p-4 w-[70%];
  }

  #oracoes-container>*:last-child {
    margin-bottom: 50vh;
  }

  pre {
    @apply whitespace-pre-wrap;
  }

  .oracao-block h2 {
    @apply font-extrabold mb-[0.8rem];
  }

  .oracao-block pre {
    @apply font-bold text-base/6;
  }
}
